@font-face {
    font-family: 'Kirvy Regular';
    src: url('Kirvy-Regular.woff2') format('woff2'),
        url('Kirvy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kirvy Bold';
    src: url('Kirvy-Bold.woff2') format('woff2'),
        url('Kirvy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import "vars";
/*Ajuste de FullWidth*/

.page-template {
    .container {
        max-width: 100%;
        width: 100%;
    }
}




/*Esquema por defecto para las secciones*/

.grid {
    display: flex;
    flex-wrap: wrap;
    .col {
        width: 50%;
    }
    .col2 {
        width: 33%;
    }
}

/*Ajuste general*/

h2 {
    text-align: center;
}

.template-section {
    &.padding-50 {
        padding: 50px 0;
    }

    .contenedor {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }

    .col {
        min-height: 500px;
        padding: 60px;
    }

    h2 {
        
        color: @aqua;
        font-family: 'Kirvy Bold';
        font-size: 2.5em;
        font-weight: normal;
        line-height: 1.3em;
        i {
            font-family: 'Adobe Garamond Pro';
            display: block;
            font-size: 1.5em;
        }

        &.azul {
            color: @aqua;
        }

    }

    p,
    ul {
        font-size: 1.2em;
        font-family: 'Avenir LT Std Medium';
    }

    ul {
        li {
            position: relative;
            margin-left: 15px;
            margin-bottom: 10px;
            &::before {
                content: "•";
                color: @aquaoscura;
                padding-right: 10px;
                position: absolute;
                left: -15px;
            }
        }

        &.azul {
            li {
                &::before {
                    color: @aqua;
                }
            }
        }
    }

}

#inicio_sl {
    background: url(../img/slider.png) no-repeat center;
    background-attachment: fixed;
}

#paquetes {
    background: #f5f5f6;
}

#servicios {
 background: url(../img/servicios.png) no-repeat center;
    background-attachment: fixed;
    text-align: center;
    h2 {
        margin-top: 100px;

    }
    p {
        margin-top: 10px;
    }
}


#doctora {
    position: relative;
    z-index: 100;
    background-color: #f7f8f8;
    padding-top: 100px;
    h2 {
        text-align: center;
        position: relative;
        left: 50px;
        margin-bottom: 50px;
        i {
            position: relative;
            left: -50px;
        }
    }
    .caracteristicas1 {
        img {
            float: right;
            position: relative;
            right: -80px;
        }

        p {
            position: relative;
            left: -50px;
            margin-left: 50px;
            margin-right: 70px;
        }
        .btn {
            margin-top: 30px;
            margin-left: 10px;
        }
        h3 {
            color: @aquaoscura;
        }
    }
    .caracteristicas2 {
        img {
            float: left;
            position: relative;
            left: -80px;
        }

        p {
            position: relative;
            right: -50px;
            margin-right: 50px;
            margin-left: 70px;

            text-align: right;
        }
        .btn {
            margin-top: 30px;
            margin-left: 10px;
        }
        h3 {
            text-align: right;
            color: @aquaoscura;
        }
    }


}


#colaborador {
    background-color: #004746!important;
    position: relative;
    z-index: 100;

    padding-top: 100px;
    h2 {
        text-align: center;
        position: relative;
        left: 50px;
        margin-bottom: 50px;
        i {
            position: relative;
            left: -50px;
        }
    }
    .caracteristicas1 {
        img {
            float: right;
            position: relative;
            right: -80px;
        }

        p {
            position: relative;
            left: -50px;
            margin-left: 50px;
            margin-right: 70px;
        }
        .btn {
            margin-top: 30px;
            margin-left: 10px;
        }
        h3 {
            color: @aquaoscura;
        }
    }
    .caracteristicas2 {
        img {
            float: left;
            position: relative;
            left: -80px;
        }

        p {
            position: relative;
            right: -50px;
            margin-right: 50px;
            margin-left: 70px;

            text-align: right;
        }
        .btn {
            margin-top: 30px;
            margin-left: 10px;
        }
        h3 {
            text-align: right;
            color: @aquaoscura;
        }
    }


}


#contacto {
    background: url(../img/agenda_cita.png) no-repeat center;
    background-attachment: fixed;
    color: #fff;
    form label {
        color: black;
    }
    .title {
        p {
            text-align: center;
            color: black;
        }
        

        hr {
            text-align: center;
            width: 450px;
            border: 1px solid black;
        }
    }

    .datos {
        img {
            margin-right: 10px;
        }
        .info {
            a {
                display: block;
                color: #fff;
                margin-left: 10px;

            }
        }
        margin-bottom: 10px;
    }

    .siguenos {
        margin-top: 100px;
        span {
            padding-right: 10px;
        }
        img {
            margin-left: 0px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }

}
